.header-bg{
    background-image: linear-gradient(to right top, #29116d, #371f74, #442d7b, #503a82, #5c4789);
    
}
.sec{
    margin-bottom: 95px;
}
.sec1{
    margin-top: 95px;
}
.sec2{
   margin-top: 100px;
}
.btn{
    background-color: #296CFC;
    color: #fff;
}
.gallery{
    margin-top: 50px;
    margin-bottom: 100px;
}
.gallery-item{
    margin-bottom: 30px;
   
}


.weWork{
    height: 400px;
    background-image: url(../assets/image-we-work.jpg),
    linear-gradient(to right top, #29116d, #371f74, #442d7b, #503a82, #5c4789,transparent 90%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color:#29116d;
    opacity: 0.9;
    background-blend-mode: multiply;
     clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
}
.img2{
    width:300px;
    height: 300px;
}


.list{
    color: #fff;
}
.texts{
    color: white;
    margin-top: 50px;
}
.imgg{
    width: 100px;
    height: 150px;
}


.shape {
    height: 350px;
    background-image: linear-gradient(to right top, #29116d, #371f74, #442d7b, #503a82, #5c4789);
    clip-path: polygon(1% 33%, 100% 7%, 100% 100%, 0% 100%);

  }
 